// Light theme
$white-bg: #c5b8b8;
$font-black: #000;
$card-white: #f3f5f7;
$text-grey: #adadad;

// Dark theme
$dark-bg: #0d1f29;
$font-grey: #617986;
$font-white: #fff;
$card-black: #1a3848;

// Common
$light-green: #def9ec;
$green: #3bb77e;
$orange: #feefea;
$purple: #fff3ff;
$darkgreen: #f2fce4;
$pink: #feefea;
$Yellowgreen: #ecffec;
$yellow: #fffceb;
$blue: #def9ec;
